@using TrackPlanner.Shared.Data

@{
    void renderStartEdit()
    {
        string css_style = $"{TimeInput.DefaultCssStyle};width: 4em";
        
        <b style="padding-left:1em">Start:</b>
        <TimeInput EditContext="editContext" @bind-Value="@this.startTime" CssStyle="@css_style"></TimeInput>
    }
 
    void renderNextDayRow( int dayIndex)
    {
        <li style="margin-bottom: 1rem">
            @{
                renderAnchorButton($"D{dayIndex + 1}", lastOfDay: false, isPinned: true);
                renderStartEdit();
            }

            <button type="button" style="margin-right: 1rem; float:right" class="btn btn-dark btn-sm"
                    @onclick="mergeDayToPreviousAsync">
                <i class="fas fa-link"></i>
            </button>
        </li>
    }

    void renderAnchorButton(string label, bool lastOfDay, bool isPinned)
    {
        string css_class = "btn btn-" + (isPinned ? (lastOfDay ? "warning" : "primary") : "secondary");
        <button type="button" class="@css_class">@label</button>
    }
    
                    void renderAnchorRow( int dayIndex, int checkpointIndex)
    {
        bool is_first_of_day = checkpointIndex == 0;
                        bool is_last_of_day = this.Schedule.IsLastCheckpointOfDay(dayIndex, checkpointIndex);

        var (anchor_day_idx, anchor_idx,anchor_reused) =this.Schedule.CheckpointIndexToAnchor( dayIndex, checkpointIndex);
//    Console.WriteLine($"Chkpt {dayIndex}::{checkpointIndex} mapped to {anchor_day_idx}::{anchor_idx}, {anchor_reused}");
        var anchor = this.Schedule.Days[anchor_day_idx].Anchors[anchor_idx];
                        bool checkpoint_looped = this.Schedule.IsCheckpointLooped(dayIndex, checkpointIndex);

        <li style="margin-bottom: 1rem">
            @{
                <div>
                @if (checkpoint_looped)
                {
                    renderAnchorButton("E", lastOfDay: true, isPinned: true);
                }
                else if (!anchor_reused)
                {
                    renderAnchorButton(ScheduleSummaryExtension.GetMarkerCode(dayIndex, anchor_idx), is_last_of_day, 
                        anchor.IsPinned);
                }

                @if (!is_first_of_day && anchor.IsPinned)
                {
                    <span>@anchor.Label</span>
                }
                
                @if (!anchor_reused)
                {
                    if (!anchor.IsPinned)
                    {
                        <button type="button" style="margin-right: 1rem; float:right" class="btn btn-dark btn-sm"
                                @onclick="this.pinMarkerAsync">
                            <i class="fas fa-thumbtack"></i>
                        </button>
                    }
                    else if (!checkpoint_looped) // don't worry about starting day (on "next" days), those are covered with separate methods 
                    {
                        <button type="button" style="margin-right: 1rem; float:right" class="btn btn-dark btn-sm"
                                @onclick="removeSingleAnchorAsync">
                            <i class="fas fa-trash"></i>
                        </button>
                    }
                    
                    if (!is_last_of_day && !is_first_of_day)
                    {
                        <button type="button" style="margin-right: 1rem; float:right" class="btn btn-dark btn-sm"
                                @onclick="this.splitDayAsync">
                            <i class="fas fa-cut"></i>
                        </button>
                    }
                }
                </div>
                
                <div>

                    @if (is_first_of_day)
                    {
                    if (dayIndex == 0)
                    renderStartEdit();
                    else
                    renderNextDayRow( dayIndex);
                    }
                </div>
                
                if (!is_first_of_day && !is_last_of_day && anchor.IsPinned)
                {
                    <div>
                        <BreakTimePresets PlannerPreferences="Schedule.Settings.PlannerPreferences" @bind-Value="@breakTime"></BreakTimePresets>
                        <b style="padding-left:0em">Break:</b>
                        <TimeInput EditContext="editContext" CssStyle="@($"{TimeInput.DefaultCssStyle}; width: 4em;")" @bind-Value="@breakTime">
                        </TimeInput>
                    </div>
                }

                if (anchor.IsPinned)
                {
                    <div>
                        <label><b>Position:</b></label>
                        <CustomTextInput EditContext="editContext" CssStyle="@($"{TimeInput.DefaultCssStyle}; width: 24em;")" @bind-Value="@point">
                        </CustomTextInput>
                    </div>
                }
            }


        </li>
    }
    
    renderAnchorRow(DayIndex,CheckpointIndex);
}

<div style="  display: flex;align-items: center;">
    <button  style="flex: 0 1 0; " @onclick="cancelDialogAsync">Cancel</button>
    <span style="flex: 1 1 0;"></span>
    <button  style="flex: 0 1 0; "   @onclick="confirmDialogAsync">Apply</button>
</div>