@using Microsoft.AspNetCore.Components.Rendering
@using TrackPlanner.Shared.Data
@using MathUnit
@using System.Globalization
@using System.Reflection.Emit
@using System.Reflection.Metadata
@using System.Runtime.CompilerServices
@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Logging
@using TrackPlanner.Shared.Visual
@using TrackPlanner.Shared.Stored



@{

    // https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-6.0#functions

    const string anchorLabelStyle = "width: 14em; margin-left:0.5em";
    
    void renderInsertionButton(int dayIndex, int anchorIndex)
    {
        <li style="margin-bottom: 1rem">
            <button type="button" class="btn btn-success btn-sm"
                    @onclick=" (args) =>  this.VisualSchedule.SetAnchorPlaceholder(dayIndex, anchorIndex)">
                <i class="fas fa-plus-circle"></i>
            </button>
        </li>
    }

    void renderAt(Length distance, TimeSpan start, Length height, bool isFirstOfDay)
    {
        Console.WriteLine($"isFirstOfDay {isFirstOfDay}");
        string at_style = "padding-left: 0.5em;" + (isFirstOfDay ? "visibility: hidden" : "");
        <span style="@at_style">
            <span>@DataFormat.FormatDistance(distance, withUnit: true)</span>
            <span>@(DataFormat.DecoFormatHeight(height))</span>
            <span>
                <b>at</b> @DataFormat.Format(start)
            </span> 
        </span>
    }

    void renderPlaceholderRow()
    {
        <li style="margin-bottom: 1rem">
            <i @onclick="args => addMarkerByPositionAsync()" style="margin-left:0.5em;  color: rgb(20,215,20);" class="fas fa-map-marker-alt"></i>

            <button type="button" style="margin-right: 1rem; float:right" class="btn btn-dark btn-sm"
                    @onclick="(args) => this.deletePlaceholder()">
                <i class="fas fa-times-circle"></i>
            </button>
        </li>
    }

    void renderStartEdit(IVisualDay day, SummaryDay summaryDay)
    {
        <span>@(DataFormat.DecoFormatHeight(summaryDay.Checkpoints[0].UserPoint.Altitude))</span>
        <b style="padding-left:1em">start</b>
        <span>@(DataFormat.Format(day.Start))</span>
    }

    void renderNextDayRow(SummaryJourney summary, int dayIndex)
    {
        <li style="margin-bottom: 1rem">
            @{
                var day = Days[dayIndex];

                renderAnchorButton($"D{dayIndex + 1}", lastOfDay: false, isPinned: true,dayIndex,0);
                if (false)
                renderAt(Length.Zero, day.Start, summary.Days[dayIndex].Checkpoints[0].UserPoint.Altitude, isFirstOfDay: true);
                renderStartEdit(day, summary.Days[dayIndex]);
            }
        </li>
    }

    void renderTimeDistanceStatistics(TimeSpan duration,Length distance)
    {
        string speed = duration == System.TimeSpan.Zero ? "--" : DataFormat.Format(distance / duration, withUnit: true);

        <div>
            <b>Time</b> @(DataFormat.Format(duration)) <b>Distance</b> @(DataFormat.FormatDistance(distance, withUnit: true)) <b>Speed</b> @(speed)
        </div>
    }
    void renderStatistics(SummaryDay day, UserPlannerPreferences plannerPreferences)
    {
        <h5>Statistics</h5>
        
        renderTimeDistanceStatistics(day.TrueDuration,day.Distance);

        <div>
            <b>Climbs</b> @(DataFormat.FormatDistance(day.ElevationStats.ClimbDistance, withUnit: true)) / @(DataFormat.FormatHeight(day.ElevationStats.ClimbHeight, withUnit: true)) (@(day.ElevationStats.ClimbSlope))
        </div>
        <div>
            @foreach (var event_stats in ScheduleSummaryExtension.GetEventStats(day.GetEventCounters(), plannerPreferences))
            {
                <span style="margin-right: 0.5em">
                    <i title="@(event_stats.label)" class="@event_stats.classIcon"></i> @(DataFormat.FormatEvent(event_stats.count, event_stats.duration))
                </span>
            }
            <i></i>
        </div>
    }

    void renderAnchorButton(string label, bool lastOfDay, bool isPinned, int dayIndex, int checkpointIndex)
    {
        string css_class = "btn btn-" + (isPinned ? (lastOfDay ? "warning" : "primary") : "secondary");

        <button @onclick="async ()=> await this.editAnchorDetailsAsync(dayIndex, checkpointIndex)" 
                type="button" class="@css_class">@label</button>
    }

    void renderAnchorRow(SummaryJourney summary, int dayIndex, int checkpointIndex)
    {
        var summary_day = summary.Days[dayIndex];
        var inner_day = this.Days[dayIndex];
        SummaryCheckpoint checkpoint = summary_day.Checkpoints[checkpointIndex];

        bool is_first_of_day = checkpointIndex == 0;
        bool is_last_of_day = checkpointIndex == summary_day.Checkpoints.Count - 1;

        var (anchor_day_idx, anchor_idx,anchor_reused) =this.VisualSchedule.CheckpointIndexToAnchor( dayIndex, checkpointIndex);
//    Console.WriteLine($"Chkpt {dayIndex}::{checkpointIndex} mapped to {anchor_day_idx}::{anchor_idx}, {anchor_reused}");
        var anchor = this.Days[anchor_day_idx].Anchors[anchor_idx];
        bool checkpoint_looped = this.VisualSchedule.IsCheckpointLooped(dayIndex, checkpointIndex);

        <li style="margin-bottom: 1rem">
            @{
                <div>
                    @if (checkpoint_looped)
                    {
                        renderAnchorButton("E", lastOfDay: true, isPinned: true,dayIndex,checkpointIndex);
                    }
                    else if (!anchor_reused)
                    {
                        renderAnchorButton(ScheduleSummaryExtension.GetMarkerCode(dayIndex, anchor_idx),
                            is_last_of_day, anchor.IsPinned,dayIndex,checkpointIndex);
                    }
                    
                    @if (is_first_of_day)
                    {
                    if (dayIndex == 0)
                    renderStartEdit(inner_day, summary_day);
                    else
                    renderNextDayRow(summary, dayIndex);
                    }

                    @if (checkpointIndex != 0 && anchor.IsPinned)
                    {
                        <CustomTextInput EditContext="editContext" CssStyle=@anchorLabelStyle
                                         @bind-Value="@anchor.Label"/>
                    }
                </div>
                
                @if (!is_first_of_day)
                {
                    <div>
                        @{
                            renderAt(checkpoint.IncomingDistance, checkpoint.Arrival, checkpoint.UserPoint.Altitude, is_first_of_day);
                        }
                    </div>
                }

                if (!is_first_of_day && !is_last_of_day && anchor.IsPinned)
                {
                    <div>
                        <span style="margin-left: 0.5em;">
                            @foreach (var (label,css_class,duration) in checkpoint.GetAtomicEvents(summary))
                            {
                                var title = $"{label} {DataFormat.Format(duration)}";
                                <i class="@css_class" title="@title" style="margin: 0 2px; color: navy"></i>
                            }
                        </span>
                        +
                        <b>break:</b> @(DataFormat.Format(anchor.UserBreak))
                  
                    </div>
                }
            }


        </li>
    }
}


<div>
    <!-- space reservation -->
    <div style="visibility:hidden; height:0">
        @{
            renderTimeDistanceStatistics(TimeSpan.FromHours(88.88), Length.FromKilometers(888.88));
        }
        <button type="button" disabled="disabled" class="btn">@ScheduleSummaryExtension.GetMarkerCode(88, 88)</button>
        <input type="text" style=@anchorLabelStyle disabled/>
    </div>

    <ul style="list-style-type: none; padding-left: 0;">
        @{

            //  Console.WriteLine($"Rendering markers side bar with {Days.Count} days");

            for (int __day_idx = 0; __day_idx < VisualSchedule.Summary.Days.Count; ++__day_idx)
            {

                int day_idx = __day_idx;
                var day = VisualSchedule.Summary.Days[day_idx];
                var inner_day = this.Days[day_idx];

                // Console.WriteLine($"Toggle state for human day {day_idx+1} = {inner_day.Visual}");

                var late_camping = day.LateCampingBy.HasValue ?
                    new MarkupString($"<span title='late camping'><i style='color:red' class='fas fa-stopwatch'></i> <small>{DataFormat.Format(day.LateCampingBy.Value)}</small></span>")
                    : new MarkupString();

                <AccordionToggle Tag="@day_idx" OnToggled="onDayToggled" @bind-Collapsed="this.UiState.CollapsedDays[day_idx]">
                    <Header>
                        <h4>Day @(day_idx + 1) @(late_camping)</h4>
                    </Header>
                </AccordionToggle>

                if (!this.UiState.CollapsedDays[day_idx])
                {
                    // Console.WriteLine("Start of anchor loop");
                    <div>
                        <button title="Find attractions" type="button" style="" class="btn btn-info btn-sm" @onclick="() => GetAttractionsAsync(day_idx)">
                            <i class="fas fa-eye"></i>
                        </button>
                        <button title="Clear attractions" type="button" style="" class="btn btn-info btn-sm" @onclick="async () => await clearAttractionsAsync(day_idx)">
                            <i class="fas fa-eye-slash"></i>
                        </button>
                    </div>

                    int anchor_idx = day_idx == 0 ? 0 : -1;
                    // Console.WriteLine($"DEBUG rendering for day {day_idx} {day.Checkpoints.Count} checkpoints");
                    @for (int checkpoint_idx = 0; checkpoint_idx < day.Checkpoints.Count; ++checkpoint_idx,++anchor_idx)
                    {
                        // on next days do now show insertion before day start
                        if (checkpoint_idx > 0 || day_idx == 0)
                        {
                            if ((day_idx,anchor_idx) == VisualSchedule.AnchorPlaceholder)
                                renderPlaceholderRow();

                            if ((day_idx,anchor_idx) != VisualSchedule.AnchorPlaceholder)
                            {
                                renderInsertionButton(day_idx, anchor_idx);
                            }
                        }

                        renderAnchorRow(VisualSchedule.Summary, day_idx, checkpoint_idx);
                    }

                    // Console.WriteLine("End of anchor loop");

                    if ((day_idx,anchor_idx) == VisualSchedule.AnchorPlaceholder)
                        renderPlaceholderRow();

                    // DO NOT use `else` here because placeholder is nullable
                    if ((day_idx,anchor_idx) != VisualSchedule.AnchorPlaceholder)
                        renderInsertionButton(day_idx, anchor_idx);


                    renderStatistics(day, VisualSchedule.Summary.PlannerPreferences);
                }
            }


        }
        <div>
            <b>Total distance:</b> @(DataFormat.FormatDistance(VisualSchedule.Summary.Distance, withUnit: true))
        </div>
    </ul>

</div>