﻿.elevation-chart
{
    /* display:block !important;  overriding default of the Blazor-Chartjs */
}
.auto-anchor-icon
{
    background-image: url("/icons/flag-icon.png");
    text-align:center;
    color:black;
}

.navy-number-icon
{
    background-image: url("/icons/marker-matte-navy.png");
    text-align:center;
    color:White;
}

.camera-icon
{
    background-image: url("/icons/camera.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    text-align:center;
    color:White;
}

.dot-icon
{
    background-size: 100% 100%;
    background-image: url("/icons/dot-icon.png");
    background-repeat: no-repeat;
    text-align:center;
    color:White;
}

.mountain-icon
{
    background-image: url("/icons/mountain.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    text-align:center;
    color:White;
}

.olive-number-icon
{
    background-image: url("/icons/marker-matte-olive.png");
    text-align:center;
    color:White;
}

.orange-number-icon
{
    background-image: url("/icons/marker-matte-orange.png");
    text-align:center;
    color:White;
}

.auto-anchor-icon-text
{
    padding-top: 12px;
}

.pinned-anchor-icon-text
{
    padding-top: 6px;
}

.attraction-icon-text
{
    translate: 20px 5px;
    padding: 2px 6px;
    background-color: white;
    color: black;
    border-color: navy;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 1);
    position: absolute;
}