﻿@using Microsoft.AspNetCore.Components.Web.Extensions.Head
@using BlazorLeaflet
@using MathUnit
@using TrackPlanner.Shared.Data

<Title Value="@($"TrackTurner: {visualSchedule.Filename ?? "«not set»"}")"></Title>

<div style="height: 100vh;display: grid;grid-template-columns: auto 5fr;grid-template-rows: min-content 5fr 2fr; ">

    <!-- TOOLBAR -->
    <div style="grid-area: 1 / 1 / 2 / 3;;display:flex; justify-content:space-between;">
        <span>
            <EditForm Model="this">
                <button @onclick="PromptNewProjectAsync">New</button>
                <button @onclick="loadScheduleAsync">Load</button>
                <button @onclick="saveScheduleAsync">Save</button>
                <button disabled="@(!grabber.CanUndo)" @onclick="UndoAsync" title="@(grabber.UndoLabel)">Undo</button>
                <button disabled="@(!grabber.CanRedo)" @onclick="RedoAsync" title="@(grabber.RedoLabel)">Redo</button>
                <label>
                    <InputCheckbox @bind-Value="@AutoBuild"></InputCheckbox>
                    Auto build
                </label>
                <button @onclick="uiBuildPlanAsync">Build</button>
                <button @onclick="uiCompleteRebuildPlanAsync">Rebuild all</button>
            </EditForm>
        </span>
        <span>
            <button @onclick="testAsync">TESTING</button>
            <button @onclick="editPreferencesAsync">Prefs</button>
        </span>
    </div>
    <!-- END OF TOOLBAR -->

        <!-- LEFT PANE -->
        <div style="grid-area: 2 / 1 / 4 / 2;overflow:auto">
                <div style="">
                    <button title="Find peaks" type="button" style="" class="btn btn-info btn-sm" @onclick="FindPeaksAsync">
                        <i class="fas fa-mountain"></i>
                    </button>
                </div>
                <Markers @ref="markers" VisualSchedule="visualSchedule" MapManager="this" Grabber="grabber" UiState="UiState"></Markers>
                <Accordion Collapsed="true">
                    <Header>
                        <h3>Legend</h3>
                    </Header>
                    <Body>
                    <Legend></Legend>
                    </Body>
                </Accordion>
        </div>

        <!-- END OF LEFT PANE -->

        <!-- RIGHT PANE -->
            <div id="mapContainer" style="grid-area: 2 / 2 / 3 / 3; ">
                <LeafletMap Map="Map"/>
            </div>
            <div style="grid-area: 3 / 2 / 4 / 3;">
                <ElevationProfile OnHoverAsync="onChartHoverAsync"
                                      OnMouseOutAsync="onChartMouseOutAsync"
                                      Line="ElevationLine" Points="ElevationPoints">
                </ElevationProfile>
                <!--<div style="position: relative;flex-shrink: 1; flex-grow: 1;">
                    <canvas id="bar-chart" style="" ></canvas>
                </div>-->

                
            </div>

        <!-- END OF RIGHT PANE -->

</div>
